*
!setup.py
!README.md
!src/
!tests
!requirements/
!databases/
!lib/
!noxfile.py
!pipelines/
!pytest.ini
!MANIFEST.in

# generated code (should not be in Docker build)
src/prisma/http.py
src/prisma/bases.py
src/prisma/types.py
src/prisma/enums.py
src/prisma/client.py
src/prisma/models.py
src/prisma/actions.py
src/prisma/metadata.py
src/prisma/partials.py
src/prisma/engine/http.py
src/prisma/engine/query.py
src/prisma/engine/abstract.py
src/prisma/schema.prisma
